/* ************************************************************************** */
/* FOOTER Sections ********************************************************** */
/* ************************************************************************** */

/* footer 1 ***************************************************************** */
.footer-1 {
  background: #373332;
  padding: 40px 20px;


  .media {
    img {
      max-width: 75px;
      height: auto;
    }
  }
}


/* footer 2 ***************************************************************** */
.footer-2 {
  background: $color-dark;
  min-height: 40px;
  padding: .5rem;

  a {
    color: $color-white;
    font-family: $font-primary;

    &:hover {
      text-decoration: none;
    }
  }
}